<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>hãy hỏi 1 câu</h1>
    <!-- action="http://localhost:9999/addquestion"  nếu năm trong cung 1 route thì ko cần đoạn dẫn sau, nếu gửi đến 1 đoạn dẫn khác thì mới cần viết-->
    <form action="/addquestion" method="POST">
        <textarea name="questionContent" id="" cols="30" rows="10"></textarea>
        <p>còn 200/200</p>
        <button type="submit">Gửi</button>
    </form>
</body>
</html>