<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- với server của node js thì đường dẫn css bắt đầu tính từ file public hoặc file đc static trỏ tới do server load tất cả nội dung trong đó rồi mới truyền sang cho html -->
    <!-- đường dẫn cho css node js -->
    <link rel="stylesheet" href="./static/nav-bar.css">
    <!-- đương dẫn cho css html -->
    <link rel="stylesheet" href="../public/static/nav-bar.css">
    <title>vertical-horizontal nav</title>
</head>
<body>
    <div class="horizontal-nav">
        <li>Item 1
            <nav class="vertical-nav">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4
                    <nav class="vertical-nav">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4
                            <nav class="vertical-nav">
                                <li>Item 1</li>
                                <li>Item 2</li>
                                <li>Item 3</li>
                                <li>Item 4</li>
                            </nav>
                        </li>
                    </nav>
                </li>
            </nav>
        </li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </div>

    <nav class="vertical-nav">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </nav>

</body>
</html>