.horizontal-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #d5b0ac;
    list-style-type: none;
}

.vertical-nav{
    margin-top: 2%;
    width: 100%;
    list-style-type: none;
}

.vertical-nav li {
    margin-bottom: 0.2%;
}

li{
    width: 15%;
    height: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 180%;
    background-color: #d5b0ac;
    color: #402E2A;
}

li:hover{
    background-color: #9CD08F;
    color: white;
    cursor: pointer;
}